<div class="jumbotron">
  <h1>Texto modificado en nuestra aplicación de Angular.js</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Lista de elementos</h4>
  
  <table>
  	<tr ng-repeat="elemento in elementos">
  		<td>{{$index}}</td>
  		<td>{{elemento}}</td>
  	</tr>
  	</thead>
  </table>

</div>
